<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>沸点后台管理</title>
	<link rel="shortcut icon" href="/logo.ico" type="image/x-icon" />
</head>
<body>
<div id="wrapper">

</div>
</body>
</html>