<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>沸点后台管理</title>
 	<link rel="shortcut icon" href="logo.ico" type="image/x-icon" />
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
	<link rel="stylesheet" type="text/css" href="css/admin.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
	<div id="wrapper">
		<div class="login">
			<h2>管理员登录</h2>
			<form>
				<span><font>账　号：</font><input type="text" name="username"></span>
				<span><font>密　码：</font><input type="password" name="password"></span>
				<span><font>验证码：</font><input type="text" name="code"></span>
				<input type="submit" name="submit" value="登录" class="submit">
			</form>
		</div>
	</div>
</body>
</html>