<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%=title%></title>
	<link rel="shortcut icon" href="logo.ico" type="image/x-icon" />
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
	<meta name="keywords" content="<%=title%>" />
	<meta name="description" content="<%=description%>" />
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/page.css">
	<script type="text/javascript" src="js/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
	<!-- 引入头部文件 -->
	<% include header %>	
	<!-- 内容区域 -->
	<div id="main">
		<div id="culture">
			<div class="left-nav">
				<h2>团队文化</h2>
				<ul id="left-nav-ul">
					<a href="javascript:;"><li class="current">文化综述</li></a>
					<a href="javascript:;"><li>规章制度</li></a>
					<a href="javascript:;"><li>团队精神</li></a>
					<a href="javascript:;"><li>团队合照</li></a>
				</ul>
			</div>
			<div class="right-content">
				<div class="content-one content-section">
					<h2>文化综述</h2>
				</div>
				<div class="content-two content-section">
					<h2>规章制度</h2>
				</div>
				<div class="content-three content-section">
					<h2>团队精神</h2>
				</div>
				<div class="content-four content-section">
					<h2>团队合照</h2>
				</div>
			</div>
		</div>
	</div>
	<script src="js/page.js"></script>
	<!-- 引入尾部文件 -->
	<% include footer %>
</div>
</body>
</html>