<!DOCTYPE html>
<html>
<head>
  <title>沸点工作室</title>
  <link rel="shortcut icon" href="/logo.ico" type="image/x-icon" />
  <style>
  	body{
  		width: auto;
  		height: 100%;
  	}
  	img {
  		width: 465px;
  		height: 512px;
  		display: block;
  		margin: 0 auto;
  		margin-top: 100px;
  	}
  </style>
</head>
<body>
  <pre><%=message%></pre>
  <p><%=error.status%></p>
  <img src="/images/404.jpg">
</body>
</html>