<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title><%=title%></title>
	<link rel="shortcut icon" href="logo.ico" type="image/x-icon" />
	<!-- <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"> -->
	<meta name="keywords" content="<%=title%>" />
	<meta name="description" content="<%=description%>" />
	<link rel="stylesheet" type="text/css" href="css/base.css">
	<link rel="stylesheet" type="text/css" href="css/page.css">
	<script type="text/javascript"></script>
</head>
<body>
<div id="wrapper">
	<!-- 引入头部文件 -->
	<% include header %>	
	<!-- 内容区域 -->
	<div id="main">
		<div id="works">
			
		</div>
	</div>
	<!-- 引入尾部文件 -->
	<% include footer %>
</div>
</body>
</html>