/*暗色系样式*/
/*#header, #footer  {
	background: #000;
}*/
/*#header {
	border-bottom: 1px solid #fff;
}
 #focus, .introduction, .group, .culture, .news, .links {
 	background: #161514;
 }
#footer {
	border-top: 1px solid #fff;
}
.title, .culture .block-header h2 {
	color: #fff;
}
.title-description, .culture .block-header p {
	color: #aaa;
}
.news-list ul li a  {
	color: #fff;
}*/