<div class="left-nav">
	<h2>团队文化</h2>
	<ul id="left-nav-ul">
		<a href="/culture"><li class="current">文化综述</li></a>
		<a href="/culture/rules"><li>规章制度</li></a>
		<a href="/culture/belief"><li>团队精神</li></a>
		<a href="/culture/photo"><li>团队合照</li></a>
	</ul>
</div>