<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>沸点工作室-华中农业大学第一互联网技术团队</title>
	<link rel="shortcut icon" href="/logo.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/page.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
	<!-- 引入头部文件 -->
	<% include ../include/header %>	
	<!-- 内容区域 -->
	<div id="main">
		<div id="introduction">
			<!-- 侧导航 -->
			<% include sidenav %>

			<div class="right-content">
				<div class="content-one content-section">
					<h2>团队简介</h2>
					<p>沸点工作室是一支本科生IT人才孵化团队，以实际项目为驱动力，主攻web开发、移动手持设备软件开发(iOS/Android)以及信息安全。团队成立于2010年9月，其成员由华中农业大学在校本科生组成，现役成员来自信息、理学、工学、公管、植科、生科六院。工作室旨在提升团队成员面对新事物学习能力、动手实践能力、创新能力和团队协作精神。</p>
					<!-- <p>团队以本科生创新能力的早期培养为首要目标，强调“高尚的道德情操、优秀的工作作风和扎实的专业技能”并重。由导师全程负责、真实科研项目牵引、从本科低年级开始进行人才长线孵化，让学有余力的本科生直接参与面向学科前沿或生产实际的科研活动，通过“干中学”的方式培养学生的创新能力和综合素 质。在不断的探索实践中，该团队形成了“导师制”、“导生制”、“顾问制”结合的指导体系，建立了递进式的培养路线，积累了独具特色的团队文化。在学术梯队的逐级带领下，执行严格有序的培养制度，引入先进的项目管理规范，并创造亲和融洽的团队气氛，使学生们在动力和压力并存中迅速成长、成才、成功，使 导师的人才梯队具有延续性，同时努力与社会需求无缝衔接，大幅提高就业成功率。总之，该团队系统地提出并实践了“目标英才式、指导开放式、培养递进式、管理竞争式”的创新人才培养模式，实践了一种符合高等教育规律和社会需求的教育理念，希望努力搭建高等教育与社会需求之间的坚实桥梁，走出一条学生、家长、高校、社会都欢迎和支持的“四赢”之路，为高校本科人才培养提供一种新的范例。</p>
					<p>目前，Dian 团队在人才培养、教学创新、校企合作等方面取得了突出成绩， 受到学生和社会的一致好评，产生了广泛的影响力。</p> -->
				</div>
			</div>
		</div>
	</div>
	<script src="/js/page.js"></script>
	<!-- 引入尾部文件 -->
	<% include ../include/footer %>
</div>
</body>
</html>