<div class="left-nav">
	<h2>沸点简介</h2>
	<ul id="left-nav-ul">
		<a href="/introduction"><li class="current">团队简介</li></a>
		<a href="/introduction/teacher"><li>导师团简介</li></a>
		<a href="/introduction/group"><li>分组简介</li></a>
	</ul>
</div>