<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>沸点工作室-华中农业大学第一互联网技术团队</title>
	<link rel="shortcut icon" href="/logo.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/page.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
	<!-- 引入头部文件 -->
	<% include ../include/header %>	
	<!-- 内容区域 -->
	<div id="main">
		<div id="introduction">
			<!-- 侧导航 -->
			<% include sidenav %>

			<div class="right-content">
				<div class="content-two content-section">
					<h2>导师团简介</h2>
					<ul>
						<li>
							<img src="">
							<span>
								<h2>刘峰，副教授，博士</h2>
								<h3>Tel：13349959699	 E-mail：liufeng@mail.hzau.edu.cn</h3>
								<p> 200703-201006  华中科技大学 信息安全 工学博士 200409-200703  华中科技大学 计算机系统结构  工学硕士 200203-200406  华中科技大学 英语  文学学士（双学位） 200009-200406  华中农业大学 计算机科学与技术  理学学士  201007-至今  华中农业大学  教师   主持教育部高等学校博士学科点专项科研基金新教师类一项；主持校自主科技创新基金基础理科培育专题一项。  200703-201006  华中科技大学 信息安全 工学博士 200409-200703  华中科技大学 计算机系统结构  工学硕士 200203-200406  华中科技大学 英语  文学学士（双学位） 200009-200406  华中农业大学 计算机科学与技术  理学学士  201007-至今  华中农业大学  教师   主持教育部高等学校博士学科点专项科研基金新教师类一项；主持校自主科技创新基金基础理科培育专题一项。</p>
							</span>
						</li>
						<li>
							<img src="">
							<span>
								<h2>刘峰，副教授，博士</h2>
								<h3>Tel：13349959699	 E-mail：liufeng@mail.hzau.edu.cn</h3>
								<p> 200703-201006  华中科技大学 信息安全 工学博士 200409-200703  华中科技大学 计算机系统结构  工学硕士 200203-200406  华中科技大学 英语  文学学士（双学位） 200009-200406  华中农业大学 计算机科学与技术  理学学士  201007-至今  华中农业大学  教师   主持教育部高等学校博士学科点专项科研基金新教师类一项；主持校自主科技创新基金基础理科培育专题一项。 </p>
							</span>
						</li>
						<li>
							<img src="">
							<span>
								<h2>刘峰，副教授，博士</h2>
								<h3>Tel：13349959699	 E-mail：liufeng@mail.hzau.edu.cn</h3>
								<p> 200703-201006  华中科技大学 信息安全 工学博士 200409-200703  华中科技大学 计算机系统结构  工学硕士 200203-200406  华中科技大学 英语  文学学士（双学位） 200009-200406  华中农业大学 计算机科学与技术  理学学士  201007-至今  华中农业大学  教师   主持教育部高等学校博士学科点专项科研基金新教师类一项；主持校自主科技创新基金基础理科培育专题一项。 </p>
							</span>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/page.js"></script>
	<!-- 引入尾部文件 -->
	<% include ../include/footer %>
</div>
</body>
</html>