<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>沸点工作室-华中农业大学第一互联网技术团队</title>
	<link rel="shortcut icon" href="/logo.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/css/base.css">
	<link rel="stylesheet" type="text/css" href="/css/page.css">
	<script type="text/javascript" src="/js/jquery.min.js"></script>
</head>
<body>
<div id="wrapper">
	<!-- 引入头部文件 -->
	<% include ../include/header %>	
	<!-- 内容区域 -->
	<div id="main">
		<div id="news">
			<% include sidenav %>
			<div class="right-content">
				<div class="content-section news-detail">
					<h2><%=detail.title%></h2>
					<span><font class="author"><%=detail.author%></font> · <font class="time"><%=detail.time%></font></span>
					<div class="news-detail-article">
						<%=detail.content%>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script src="/js/page.js"></script>
	<!-- 引入尾部文件 -->
	<% include ../include/footer %>
</div>
</body>
</html>