<div class="left-nav">
	<h2>新闻动态</h2>
	<ul id="left-nav-ul">
		<a href="/news"><li class="current">新闻公告</li></a>
		<a href="/news/diary"><li>成员日志</li></a>
		<!-- <a href="/news/"><li>其他版块</li></a> -->
	</ul>
</div>