<div class="left-nav">
	<h2>团队招新</h2>
	<ul id="left-nav-ul">
		<a href="/recruit"><li class="current">招新详情</li></a>
		<a href="/recruit/signup"><li>报名表</li></a>
		<a href="/recruit/group"><li>分组简介</li></a>
	</ul>
</div>